.uppercase {
    text-transform: uppercase;
}

.fs_24 {
    font-size: 24px;
}

.fs_22 {
    font-size: 22px;
}

.fs_20 {
    font-size: 20px;
}

.fs_19 {
    font-size: 19px;
}

.fs_18 {
    font-size: 18px;
}

.fs_16 {
    font-size: 16px;
}

.fs_17 {
    font-size: 17px;
}

.fs_15 {
    font-size: 15px;
}

.fs_14 {
    font-size: 14px;
}

.fs_13 {
    font-size: 13px;
}

.fw_300 {
    font-weight: 300;
}

.fw_400 {
    font-weight: 400;
}

.fw_500 {
    font-weight: 600;
}

.fw_600 {
    font-weight: 600;
}

.fw_700 {
    font-weight: 700;
}

.fw_800 {
    font-weight: 800;
}

.fw_900 {
    font-weight: 900;
}

input:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

button:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.list-group .list-group-item:hover {
    color: white !important;
    font-weight: 600;
    background-color: #7885EB;
    border-radius: 5px;
    font-size: 16px;
}

.list-group .list-group-item.active {
    color: white !important;
    font-weight: 600;
    border: 0;
    background-color: #7885EB;
    border-radius: 5px;
    font-size: 16px;
}

.primary_bg {
    background: #4F2666;
}

#side-wrapper {
    width: 0;
    /* transition: width 0.25s ease-out; */
}

.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
    /* transition: all ease 0.25s; */
}

#wrapper.toggled #side-wrapper {
    width: 58px !important;
}

#wrapper.toggled #side-wrapper .top-head span {
    display: none;
}

#wrapper.toggled #side-wrapper .top-head i {
    margin-right: 0 !important;
}

.top_head::after {
    content: '';
    position: absolute;
    border-bottom: 0.6px solid #e0e0e073;
    height: 2px;
    bottom: -6px;
    z-index: 999;
    width: 100%;
}

.top_head {
    position: relative;
}

.main-bg {
    background: #e5e5e561;
    margin-top: 70px;
    position: absolute;
}

.left-navn {
    border: 1px solid #1B293F;
    background: #1B293F;
}

.top_head::after {
    content: '';
    position: absolute;
    border-bottom: 0.6px solid #e0e0e073;
    height: 2px;
    bottom: -6px;
    z-index: 999;
    width: 100%;
    left: 0;
}
.top-head {
    width: 300px;
    position: fixed;
    height: 70px;
    z-index: 1000;
    cursor: pointer;
    background-color: white;
}

.left-navn .list-group.list-group-flush {
    margin-top: 72px;
    background: #1B293F;
    padding-left: 24px;
    padding-right: 24px;
}

.btn .badge {
    position: relative;
    top: 2px;
    border-radius: 100%;
    color: black;
    background: #F3C00C;
    height: 18px;
    width: 18px;
}

.Notification_btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: #585559;
}

.logout-btn {
    color: #C10707;
}

#main-page-wrapper nav.navbar.navbar-expand-lg {
    height: 70px;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: calc(100% - 300px);
    background: white;
    z-index: 999;
    /* transition: width 0.25s ease-out; */
}

.toggled #main-page-wrapper nav.navbar.navbar-expand-lg {
    padding-left: 221px !important;
    /* transition: width 0.25s ease-out; */
    width: calc(100% - 95px);
}

.list-group-flush .list-group-item {
    background: #1B293F;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

#wrapper.toggled #side-wrapper {
    width: 300px !important;
}

.user-img img {
    border-radius: 3px;
    height: 60px;
    width: 60px;
}

.left-navn .list-group.list-group-flush .list-group-item svg {
    fill: white;
    margin-right: 26px;
}

.left-navn .list-group.list-group-flush .list-group-item:hover svg {
    fill: white;
}

.left-navn .list-group.list-group-flush .list-group-item.active svg {
    fill: white;
}

@media (min-width:600px) {
    #side-wrapper {
        width: 300px;
        /* transition: width 0.25s ease-out; */
    }
    #wrapper.toggled #side-wrapper {
        width: 95px !important;
    }
    .toggled .left-navn .list-group.list-group-flush .list-group-item svg {
        margin-right: 37px;
    }
}

@media (max-width:600px) {
    #main-page-wrapper nav.navbar.navbar-expand-lg {
        width: 100%;
        min-height: 68px;
        /* z-index: 9999999; */
        height: auto;
        background-color: white;
    }
    .top-head {
        top: 68px;
        width: 100%;
        box-shadow: 0px -1px 5px rgb(0 0 0 / 25%);
    }
    .Notification_btn {
        margin-left: unset;
    }
    .notify_btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 601px) and (max-width: 767px) {
    .top-head {
        top: unset;
        text-align: unset !important;
    }
    .toggled #main-page-wrapper nav.navbar.navbar-expand-lg {
        padding-left: 197px !important;
        width: calc(100% - 106px);
        min-height: 71px;
        height: auto;
    }
}

@media (max-width: 600px) {
    .primary_bg {
        margin-top: 75px;
        position: absolute;
        z-index: 999;
    }
    #wrapper.toggled #side-wrapper {
        /* width: 92px !important; */
    }
    .left-navn .list-group.list-group-flush {
        margin-top: 53px;
        padding-left: 19px;
        padding-right: 11px;
    }
    .toggled #main-page-wrapper nav.navbar.navbar-expand-lg {
        padding-left: 16px !important;
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 991px) {
    .Notification_btn {
        margin-left: unset;
    }
    #main-page-wrapper nav.navbar.navbar-expand-lg {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    div#navbarSupportedContent1 {
        background: white;
        align-items: center;
        justify-content: center;
    }
    .Notification_btn {
        margin-left: unset;
    }
}